.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}

.nav ul{
  display: flex;
  list-style: none;
}

.nav li a{
  display: none;
}

.button{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total{
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.total span{
  background: linear-gradient(to right, rgb(123, 63, 228), rgb(32, 129, 226));
  padding: 2px 10px;
  border-radius: 5px;
}